<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsAddSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="wsAddSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44345/wsAdd.asmx" binding="basicHttpBinding"
                bindingConfiguration="wsAddSoap" contract="tempService.wsAddSoap"
                name="wsAddSoap" />
        </client>
    </system.serviceModel>
</configuration>